rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // A user can only read/write their own document
    match /students/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // The teacher dashboard needs to be able to read all student documents
    match /students/{document=**} {
        allow list: if request.auth != null;
    }
  }
}
